<section class="recipes_info_section">
  <div class="recipes_info_section_inner">
    <div class="container">
      <div class="section_header">
        <h2 class="mb-5">{{ article.title }}</h2>
        <div class="richtext"><p>{{ article.content }}</p></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Recipes Info",
	"class":"section_start"
    
  }
{% endschema %}

